<div>
    <h1>ADMIN: Workshops</h1>
    <div ng-repeat="workshop in workshops">
        <h2>{{workshop.title}}</h2>
        <p>Status: {{workshop.status}}</p>
        <p><a ng-href="../#/list/{{workshop.createdRevisionId}}">Workshop list</a></p>
        <ul ng-repeat="participant in workshop.participants">
            <li>{{queNum(workshop,participant)}}. {{participant.name}} - {{participant.email}} - status: {{isConfirmed(participant)}} ({{participant.confirmedAt}})</li>
        </ul>
    </div>
</div>