<div>
    <h1>Registration for workshop "{{workshop.title}}"</h1>

    <p class="info" ng-show="showForm"><strong>Enter your information below</strong> to register for the workshop "{{workshop.title}}". We'll send you a confirmation e-mail, and you'll have to press the link in this e-mail to confirm (you probably know the drill…)</p>
    <p class="info info-extra" ng-show="showForm">
        <strong>Tip: Do you want to skip the email verification step?</strong>
        <br>
        Log in using your google account to register without having to confirm your email address.
        <br>
        <button ng-show="!loggedIn" class="button button-tiny" ng-click="googleLogin()">Login here</button>
        <span ng-show="loggedIn">You are logged in - you will not need to confirm your email</span>
    </p>
    <p class="info" ng-show="showForm">After you have confirmed your e-mail address, you will be assigned a spot immediately. If the workshop is full, you'll get a spot at the waiting list. If any spots becomes availiable, you'll get an e-mail telling you about this.</p>
    <p class="info" ng-show="showVeryFull">The waiting list for this workshop is very long. It is unlikely that you will get a spot.</p>

    <p class="errormessage" ng-show="showMessage">{{message}}</p>
    <p class="info" ng-show="showNotConfirmed"><strong><i>NOTE: </i></strong>You do <strong>NOT</strong> have a space at the workshop yet, you need to confirm your email first.</p>

    <form ng-show="showForm">
        <p>
        	<!-- <label for="name">Full name</label> -->
        	<input type="text" placeholder="Your name" ng-model="fullname" id="name"/>
        </p>
        <p>
        	<!-- <label for="email">E-mail</label> -->
        	<input type="email" placeholder="Your email (we'll newer spam you!)" ng-model="email" id="email"/>
        </p>
        <p ng-show="showMultiReservations">
            <input type="number" placeholder="Number of kids (1-{{workshop.maxReservations}})" min="1" max="{{workshop.maxReservations}}" ng-model="numReservations" id="numReservations"/>
        </p>
        <p>
        	<!-- <label for="captcha">Are you a robot?</label> -->
        	<input type="text" ng-model="captcha" placeholder="Type the captcha text you see below" id="captcha"/>
        </p>
        <p>
        	<img ng-src="{{captchasrc}}"/>
            <br>
        	<a class="button button-tiny button-captcha" ng-click="reloadCaptcha()">Reload captcha…</a>
        </p>

        <p>
        	<button ng-click="register()" class="button">Register for Workshop</button>
        </p>

        <span class="img img-figur"></span>
    </form>
</div>