textarea, input { outline: none; }


body {
	font-size: 18px;
	background: #101010;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #394549;
}

.header {
	width: 60em;
	margin: 0 auto;
	padding: 1em 3em 2em 1em;
	position: relative;
}

.wrapper {
	width: 60em;
	margin: 0 auto;
	padding: 2em;
	background: #fff;
}

h1 {
	font-weight: inherit;
	color: #fcaf17;
	font-weight: 400;
}

p {
	max-width: 45em;
}
p.info {
	color: #666;
}
p.errormessage {
	background: #286a65;
	color: #fff;
	text-align: center;
	padding: 1em
}

.headerlink {
	position: absolute;
	top: 1.7em;
	right: .5em;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #555;
}

.img {
	background-size: 100% 100%;
	display: inline-block;
	text-indent: -999em;
	background-repeat: no-repeat;
	background-position: center center;
	width: 128px;
	height: 128px;
	position: relative;
}

.img-logo {
	background-image: url(../images/javazone.horizontal.light@2x.png);
	width: 19.444em;
	height: 4.889em;
}

form {
	margin: 2em 0;
}

form p {
	margin: 0 0 2em 0;
}

label {
	display: block;
	font-size: 1.2em;
	margin: 0 0 .2em .5em;
}
input {
	color: #286a65;
	font-size: 1.2em;
	padding: .3em .5em;
	width: 20em;
	border: none;
	border-bottom: 1px solid #286a65;
}



::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}









.button { 
	font-size: 1.2em;
	color:#fff !important; 
	padding: .5em 1em; 
	text-decoration: none;
	border: none;

background-color: #a10035;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(161, 0, 53)), to(rgb(146, 0, 38)));
background-image: -webkit-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
background-image: -moz-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
background-image: -o-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
background-image: -ms-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
background-image: linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a10035', EndColorStr='#920026');

}
.button:hover { 
	background: #a10035; 
	color:#fff !important; 
	cursor: pointer;

background-color: #9c0030;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(156, 0, 48)), to(rgb(141, 0, 38)));
background-image: -webkit-linear-gradient(top, rgb(156, 0, 48), rgb(141, 0, 38));
background-image: -moz-linear-gradient(top, rgb(156, 0, 48), rgb(141, 0, 38));
background-image: -o-linear-gradient(top, rgb(156, 0, 48), rgb(141, 0, 38));
background-image: -ms-linear-gradient(top, rgb(156, 0, 48), rgb(141, 0, 38));
background-image: linear-gradient(top, rgb(156, 0, 48), rgb(141, 0, 38));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9c0030', EndColorStr='#8d0026');

}

.button:active { 
	background: #a10035; 
	color:#fff !important; 

background-color: #97002b;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(151, 0, 43)), to(rgb(136, 0, 33)));
background-image: -webkit-linear-gradient(top, rgb(151, 0, 43), rgb(136, 0, 33));
background-image: -moz-linear-gradient(top, rgb(151, 0, 43), rgb(136, 0, 33));
background-image: -o-linear-gradient(top, rgb(151, 0, 43), rgb(136, 0, 33));
background-image: -ms-linear-gradient(top, rgb(151, 0, 43), rgb(136, 0, 33));
background-image: linear-gradient(top, rgb(151, 0, 43), rgb(136, 0, 33));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#97002b', EndColorStr='#880021');

}

.button i { 
	display: inline-block; 
	margin: 0 .3em 0 0; 
}
