textarea, input { outline: none; }


body {
	background: #fefefe;
    color: #394549;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
	font-size: 18px;
    line-height: 1.5;
}

.header {
	width: 55em;
	margin: 0 auto;
	padding: 1em 3em 2em 1em;
	position: relative;
}

.wrapper {
	width: 55em;
	margin: 0 auto;
	padding: 2em;
	background: #fff;
	position: relative;
}

h1 {
	font-weight: inherit;
	color: #fcaf17;
	font-weight: 400;
}

p {
	max-width: 45em;
}
p.info {
	color: #666;
}
p.info-extra {
	font-size: .8em;
	background: #eee;
	padding: 1em 2em;
}
p.errormessage {
	background: #286a65;
	color: #fff;
	text-align: center;
	padding: 1em
}

.headerlink {
	position: absolute;
	top: 2.5em;
	right: .5em;
	font-weight: 300;
	font-size: 1.2em;
	color: #394549;
	text-decoration: none;
	border-bottom: 1px solid #eee;
}

.img {
	background-size: 100% 100%;
	display: inline-block;
	text-indent: -999em;
	background-repeat: no-repeat;
	background-position: center center;
	width: 128px;
	height: 128px;
	position: relative;
}
.img-logo {
	background-image: url(../images/logo.svg);
	width: 100%;
	height: 100%;
}

.img-figur {
	background-image: url(../images/figur2.png);
	width: 19.11111em;
	height: 37.03703em;
	position: absolute;
	bottom: 3em;
	right: -6em;
}

a.logo {
	display: block;
	width: 100px;
	height: 98px;
	margin: 0 auto;
}

form {
	margin: 2em 0;
}

form p {
	margin: 0 0 2em 0;
}

label {
	display: block;
	font-size: 1.2em;
	margin: 0 0 .2em .5em;
}
input {
	color: #286a65;
	font-size: 1.2em;
	padding: .3em .5em;
	width: 20em;
	border: none;
	border-bottom: 1px solid #286a65;
}



::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}









.button {
	-webkit-transition: color .4s ease, border-color .4s ease;
	-moz-transition: color .4s ease, border-color .4s ease;
	-o-transition: color .4s ease, border-color .4s ease;
	transition: color .4s ease, border-color .4s ease;
	background-image: none !important;
	border: 1px solid #286a65;
	color: #286a65;
	display: inline-block;
	margin: 10px 0;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	font-size: 1em;
	cursor: pointer;
}

.button.button-red {
	border-color: #a10035;
	color: #a10035;
}

.button.button-yellow {
	border-color: #fcaf17;
	color: #fcaf17;
}

.button.button-black {
	border-color: #101010;
	color: #101010;
}

.button.button-wide {
	padding: 10px 40px;
}
.button.button-tiny {
	font-size: .7em;
	padding: 5px 10px;
}
.button.button-captcha {
	margin: 0;
	border: none;
	padding: 0;
}

.button:hover {
	border-color: #ff8641;
	color: #ff8641;
}

.redtext {
	color: red;
}



@media only screen and (max-width: 1350px) {
    body { font-size:16px; }
}

@media only screen and (max-width: 1200px) {
    body { font-size:14px; }
}